.svg-container {
  width: 12em;
  min-width: 150px;
 
}



.linkYellow:hover {
  background: #FFB84A;
}



.currenttriangle::before {
  content: '';
  position: absolute;
  bottom: 100%; 
  left: 50%; 
  transform: translateX(-50%); 
  border-width: 0 8px 8px; 
  border-style: solid;
  border-color: transparent transparent #FDA214; /

}

.current::after {
  content: "CURRENT PLAYER";
  position: absolute;
  top: 110%; 
  left: auto;
  right: auto;

  height: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  



}